<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-center" style="margin: auto;margin-top: 10%;">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">
                        <div class="header header-primary text-center">
                            <div class="" style="max-height: 20%;max-width: 30%;margin: auto;">
                                <img src="assets/img/LOGIN.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false">
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="text" placeholder="Last Name..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" />
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="text" placeholder="Phone number..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" />
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="email" placeholder="E-mail..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" />
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="password" placeholder="Password..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" />
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <input type="password" placeholder="Password..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" />
                            </div>
                        </div>
                        <div class="row">
                            <a href="#pablo" class="ml-3 mr-5 col-6 btn btn-primary btn-round btn-lg btn-block">{{"menu.create_account" | translate}}</a>
                            <a href="#pablo" class="col-4 btn btn-danger btn-round btn-lg btn-block">{{"btn.cancel" | translate}}</a>
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a href="#pablo" class="link"></a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>