<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">

        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Designed by Invision. Coded by Creative Tim">
              LOGO
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/index']">
                        <i class="now-ui-icons design_app"></i>
                        <p>{{"menu.home" | translate}}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-angular" target="_blank">
                        <i class="now-ui-icons ui-2_favourite-28"></i>
                        <p>{{"menu.link_myfavory" | translate}}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://creativetimofficial.github.io/now-ui-kit-angular/documentation/tutorial" target="_blank">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                        <p>{{"menu.link_mysearch" | translate}}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="dropdown">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <p>
                                {{language}}
                            </p>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <a class="dropdown-item" (click)="setLang('fr')">Fr - Francais</a>
                            <a class="dropdown-item" (click)="setLang('en')">En - English</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link dropdown">
                        <div class="" ngbDropdown>
                            <a class=" dropdown-toggle" ngbDropdownToggle>
                                <i class="now-ui-icons users_single-02"></i>
                            </a>
                            <div ngbDropdownMenu>
                                <a class="dropdown-header">{{"menu.account" | translate}}</a>
                                <a class="dropdown-item" [routerLink]="['/user-account/register']">{{"menu.create_account" | translate}}</a>
                                <a class="dropdown-item" [routerLink]="['/user-account/login']">{{"menu.sign_in" | translate}}</a>
                                <!-- <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">One more separated link</a> -->
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>